extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body


	section.thanhtam-banner
		.img-banner
			//-img(src="../img/home_panel.png", alt="")
			.title
				.container
					.row
						.col-md-7
							h1
								| Chúng tôi là
								br
								| Fullstack Việt Nam
							p Lorem ipsum, dolor sit amet conasectetur adipisicing elit. Mollitia qasdf asdf asdf asdfsadfa asdfasdf asdf
							
							a(href="#")
									btn.btn-detail(type='button') XEM CHI TIẾT
									//-btn.btn-click(type='button') CLICK NOW
									//- btn.btn-detail.animated.infinite.bounceInLeft(type='button') XEM CHI TIẾT
	
	section.thanhtam-shopping
		.container
			.row
				.col.owl-carousel.owl-theme
					.item
						a(href="#")
							figure
								//- img(src="../img/home_panel_2.png", alt="")
							.title
								h3 USA'S HOTTEST JEANS
								p SHOPPING NOW
					.item
						a(href="#")
							figure
								//- img(src="../img/home_panel_2.png", alt="")
							.title
								h3 USA'S HOTTEST JEANS
								p SHOPPING NOW
					.item
						a(href="#")
							figure
								//- img(src="../img/home_panel_2.png", alt="")
							.title
								h3 USA'S HOTTEST JEANS
								p SHOPPING NOW

	section.thanhtam-product
		.container
			.row
				.col.text-center.big-caption
					.title
						h2 FULLSTACK VIETNAM
			.row
				- for (x=1;x<5;x++)
					.col-6.col-lg-3.item.mb-4
						a(href="")
							figure
								.blockimg
									img.img-fluid(src="./img/home_product_"+x+".png", alt="")
								figcaption
									h3 TRUNG TÂM ĐÀO TẠO CHUYÊN NGHIỆP
									p $96.69

	section.thanhtam-sale
			.container
				.row
					.col.mb-3
						.img-banner
							.cap
								h3 HẠNH PHÚC PHÍA SAU
								p USA'S HOTTEST JEANS
							.sale
								span.p Sale
								span.price 20%

	section.thanhtam-quote
		.container
			.row
				.col-lg-5.mt-5.mb-3.text-center
					figure
						img(src="./img/home_panel_4.png", alt="")
				.col-lg-7.mt-5.mb-3.text-center
					.title
						h4 HẠNH PHÚC PHÍA SAU
						p Want the most stylish designs in metrosexual and gay apparel? Looking for the sexiest gay outfits and pride outfits? Differio has the trendiest gay pride apparel from gay pride clothing to lgbt clothing. Shop our gay menswear collection for the hottest gay pride outfits in gay clothing for men.



	section.home-slider
		.container
			.row
				.col.text-center.big-caption
					.title
						h2 FULLSTACK VIETNAM
			.row
				.col.owl-carousel
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_1.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_2.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_3.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_4.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_5.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_6.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_1.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_2.png", alt="")
					

