extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	//- section.home-new
	//- 	.container
	//- 		.row
	//- 			.col-md-4.item
	//- 				a(href="#")
	//- 					figure
	//- 						.blockimg
	//- 							i.fa.fa-eye
	//- 							img(src="./img/home_photo_1.png", alt="")
	//- 						figcaption
	//- 							h3 sdf asdfasdf asdf
	//- 							time 20/06/2018
	//- 							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id natus quae dolorem culpa deserunt repellat accusamus. Necessitatibus nulla totam beatae neque assumenda? Dignissimos velit facilis tempora officiis expedita exercitationem esse?
				.col-md-4.item
					a(href="")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="./img/home_photo_2.png", alt="")
							figcaption
								h3 sdf asdfasdf asdf
								time 20/06/2018
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id natus quae dolorem culpa deserunt repellat accusamus. Necessitatibus nulla totam beatae neque assumenda? Dignissimos velit facilis tempora officiis expedita exercitationem esse?
				.col-md-4.item
					a(href="")
						figure
							.blockimg
								i.fa.fa-eye
								img(src="./img/home_photo_3.png", alt="")
							figcaption
								h3 sdf asdfasdf asdf
								time 20/06/2018
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id natus quae dolorem culpa deserunt repellat accusamus. Necessitatibus nulla totam beatae neque assumenda? Dignissimos velit facilis tempora officiis expedita exercitationem esse?

	section.home-slider
		.container
			.row
				.col.text-center
					.title
						h1 FULLSTACK VIETNAM
			.row
				.col.owl-carousel
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_1.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_2.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_3.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_4.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_5.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_6.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_1.png", alt="")
					.item
						a(href="#")
							figure
								img(src="./img/home_slider_2.png", alt="")
					
