=hover_spec($topbot: 100px, $leftright: 100px)
	margin-top: -$topbot 
	margin-bottom: -$topbot 
	margin-left: -$leftright
	margin-right: -$leftright
	padding: $topbot $leftright
	border-width: $topbot $leftright

.thanhtam-banner
	padding-bottom: .5rem
	.img-banner
		position: relative
		background-position: center center
		background-size: center
		background-image: url(../img/home_panel.png)
		img
			width: 100%
			display: block
		.title
			height: 100%
			width: 100%
			display: flex
			align-items: center
			color: #fff
			+pos(abs, 0 null null 0)
			h1
				font-size: 2.5rem
			p
				max-width: 60%
				padding-top: 2rem
				+fz(1.2rem)
			a
				text-decoration: none
				.btn-detail
					padding: .7rem 3.5rem
					color: black
					font-size: 1.2rem
					background: #fff
					border: 0px
					&:hover,
					&:active
						box-shadow: 0px 0px 13px 7px yellow
						transition: .3s all ease-in-out
				

.thanhtam-shopping
	background: #000
	.owl-theme
		position: relative
		.item
			a
				background-size: cover
				background-position: 50% 50%
				background-image: url(../../img/home_panel_2.png)
				text-decoration: none
				figure
				.title
					top: 50%
					transform: translateY(-50%)
					position: absolute
					h3
						font-size: 3.42rem
						background: #000
						padding: 0 1rem
						color: white
					p
						padding: 0 1rem
						font-size: 1.29rem
						background: yellow
						color: black
						font-weight: 700
						display: inline-block

				&:hover
					text-decoration: none
					color: white
				+media-breakpoint-down(md)
					.title
						h3
							font-size: 1.75rem
						p
							font-size: inherit

		.owl-dots
			position: absolute
			left: 50%
			bottom: 14%
			transform: translateX(-50%)
			.owl-dot
				//padding: 0 1rem
				span
					background: #fff
					width: 1.36rem
					height: 0.36rem
					border-radius: 2px
					&:hover
						background: #afafaf
			.active
				span
					background:  yellow

.big-caption
	margin-bottom: 30px
	background: #000
	h2
		font-weight: 700
		font-size: 2.14rem
		background: #000
		display: inline
		z-index: 99
		color: white
		position: relative
		padding: 0 1rem

	&:before
		content: ""
		position: absolute
		width: 100%
		height: 1px
		background: #fff
		top: 50%
		//margin-left: 2rem
		left: 0
	+media-breakpoint-down(sm)
		h2
			font-size: 1.5rem

.thanhtam-product
	background: #000
	.item
		text-decoration: none
		a
			figure
				.blockimg
					img
						width: 100%
						filter: grayscale(100%)
				figcaption
					h3
						padding-top: 1rem
						font-weight: 900
						font-size: 1rem
						color: #fff
					p
						font-size: 1.14rem
						font-weight: 700
						color: #afafaf

						
		&:hover,
		&:active
			a
				text-decoration: none
				.blockimg
					img
						box-shadow: 0px 0px 0px 5px yellow
						filter: grayscale(0%)
						transition: .5s all ease-in-out
				figcaption
					h3
						color: yellow
					p
						color: #00eaff
	
.thanhtam-sale
	background: #000
	.img-banner
		position: relative
		img
			width: 100%
			display: block
			box-shadow: 0px 0px 0px 5px #fff
	.title
		position: absolute
		top: 50%
		transform: translate(50%, 22%)
		.cap
			text-align: center
			h3
				background: #000
				font-size: 2.43rem
				color: #fff
				padding-bottom: 1rem
			p
				font-size: 1.3rem
				color: #000
				background: #fff000
				display: inline-block
				transform: translateY(-40%)
				padding: .5rem


.home-slider
	background: #000
	padding-top: 40px
	padding-bottom: 4.29rem
	.title
		//padding-top: 40px
		background: #000
		h1
			font-weight: 700
			font-size: 2.14rem
			background: #000
			display: inline
			z-index: 99
			color: white
			position: relative
			padding: 0 1rem

		&:before
			content: ""
			position: absolute
			width: 100%
			height: 1px
			background: #fff
			top: 50%
			//margin-left: 2rem
			left: 0
			//z-index: -1


	.owl-carousel
		margin-top: 2.7rem
		figure
			margin: 0
			img
				opacity: 0.5
		.item
			&:hover
				img
					opacity: 1
	.owl-nav
		button
			position: absolute
			top: 50%
			transform: translateY(-50%)
			&.owl-prev
				background: yellow
				left: -1rem	
				border-radius: 1px
				height: 1.79rem
				width: 1.79rem
				.fa
					//padding: .5rem
			&.owl-next
				background: yellow
				right: -1rem
				height: 1.79rem
				width: 1.79rem
			&:hover,
			&:active
				background: #fff

+media-breakpoint-down(sm)
	.home-slider
		padding-bottom: 2rem
		.owl-nav
			padding-top: 2.5rem
			padding-bottom: 0
			text-align: center
			button
				position: relative
				&.owl-next
					margin-left: .25rem
					right: 0
				&.owl-prev
					left: 0
					margin-right: .25rem

.home-new
	.item
		a
			text-decoration: none
			figure
				.blockimg
					border-radius: 10px
					overflow: hidden
					position: relative
					&:before
						content: ''
						display: block
						height: 0
						width: 0
						position: absolute
						border-color: rgba(0,0,0,0.52)
						border-style: solid
						//top:  100%
						//bottom:  100%
						+media-breakpoint-down(xl)
							+hover_spec(105px, 175px)
						+media-breakpoint-down(lg)
							+hover_spec(87px, 145px)
						+media-breakpoint-down(md)
							+hover_spec(63px, 105px)
						+media-breakpoint-down(sm)
							border: 0px

						
					i
						position: absolute
						left: 50%
						top: 50%
						font-size: 3rem
						color: #fff
						transform: translateX(-50%) translateY(-50%)
						opacity: 0
						transition: .5s all ease-in-out
					img
						width: 100%
				figcaption
					h3
						font-size: 1rem
						font-weight: 500
						line-height: 1.2rem
						margin-top: .75rem
						margin-bottom: 0
					time
						color: darken(#fff, 30%)
						line-height: 1.2rem
					p
						line-height: 1.2rem
						height: 3.6rem
						overflow: hidden
						margin-top: .25rem
						color: darken(#fff, 35%)
						font-size: .9rem
			+media-breakpoint-down(sm)
				figure
					padding-top: 20px
			&:hover,
			&:active
				.blockimg
					&:before
						margin: 0px
						padding: 0px
						transition: .3s all ease-in-out

					i
						opacity: 1
						z-index: 9999
					+media-breakpoint-down(sm)
						i
							opacity: 0
				h3
					color: #9644a2
				p
					color: #000
