=hover_spec($topbot: 100px, $leftright: 100px)
	margin-top: -$topbot 
	margin-bottom: -$topbot 
	margin-left: -$leftright
	margin-right: -$leftright
	padding: $topbot $leftright
	border-width: $topbot $leftright

.thanhtam-banner
	padding-bottom: .5rem
	.img-banner
		background: #000
		position: relative
		background-position: center center
		background-image: url(../img/home_panel.png)
		background-repeat: no-repeat
		background-size: cover
		min-height: 500px
		// img
		width: 100%
		// 	display: block
		.title
			height: 100%
			width: 100%
			display: flex
			align-items: center
			color: #fff
			+pos(abs, 0 null null 0)
			h1
				font-size: 2.5rem
			p
				max-width: 60%
				padding-top: 2rem
				+fz(1.2rem)
			a
				text-decoration: none
				.btn-detail
					padding: .7rem 3.5rem
					color: black
					font-size: 1.2rem
					background: #fff
					border: none
					&:hover,
					&:active
					// 	&:after
					// 		opacity: 1
					// 	// box-shadow: 0px 0px 13px 7px yellow
					// 	// transition: .3s all ease-in-out
					// &:after
					// 	content: "CLICK NOW"
					// 	position: absolute
					// 	width: 100%
					// 	padding: .7rem 3.5rem
					// 	color: black
					// 	font-size: 1.2rem
					// 	background: #fff
					// 	border: 0px
					// 	opacity: 0
					// 	transition: .5s all ease-in-out
				

.thanhtam-shopping
	background: #000
	.owl-theme
		position: relative
		.item
			a
				figure
					background-position: center center
					background-image: url(../img/home_panel_2.png)
					background-size: cover
					min-height: 150px
					background-repeat: no-repeat
				.title
					top: 50%
					transform: translateY(-50%)
					position: absolute
					h3
						font-size: 3.42rem
						background: #000
						padding: 0 1rem
						color: white
					p
						padding: 0 1rem
						font-size: 1.29rem
						background: yellow
						color: black
						font-weight: 700
						display: inline-block

				&:hover
					text-decoration: none
					color: white
				+media-breakpoint-down(md)
					.title
						h3
							font-size: 1.75rem
						p
							font-size: inherit

		.owl-dots
			position: absolute
			left: 50%
			bottom: 14%
			transform: translateX(-50%)
			.owl-dot
				//padding: 0 1rem
				span
					background: #fff
					width: 1.36rem
					height: 0.36rem
					border-radius: 2px
					&:hover
						background: #afafaf
			.active
				span
					background:  yellow
			+media-breakpoint-down(sm)
				.owl-dot
					span
						&:hover
							background: #fff
				

.big-caption
	margin-bottom: 30px
	background: #000
	h2
		font-weight: 700
		font-size: 2.14rem
		background: #000
		display: inline
		z-index: 99
		color: white
		position: relative
		padding: 0 1rem

	&:before
		content: ""
		position: absolute
		width: 100%
		height: 1px
		background: #fff
		top: 50%
		//margin-left: 2rem
		left: 0
	+media-breakpoint-down(sm)
		h2
			font-size: 1.5rem

.thanhtam-product
	background: #000
	.item	
		text-decoration: none
		a
			figure
				.blockimg
					position: relative
					img
						width: 100%
						filter: grayscale(100%)
						transition: .5s all ease-in-out
					&:before
						transition: .5s all ease-in-out
						position: absolute
						content: ""
						display: block
						height: 100%
						width: 100%
						z-index: 1
				figcaption
					h3
						padding-top: 1rem
						font-weight: 900
						font-size: 1rem
						color: #fff
					p
						font-size: 1.14rem
						font-weight: 700
						color: #afafaf

						
		&:hover,
		&:active
			a
				text-decoration: none
				.blockimg
					&:before
						box-shadow: 0px 0px 0px 5px yellow inset
				figcaption
					h3
						color: yellow
					p
						color: #00eaff
	// turn of hover in mobile
	+media-breakpoint-down(sm)
		.item
			a
				figure
					text-decoration: none
					.blockimg
						img
							filter: grayscale(0%)
					figcaption
						h3
							color: yellow
						p
							color: #00eaff
			&:hover,
			&:active
				a
					text-decoration: none
					.blockimg
						&:before
							box-shadow: none
.thanhtam-sale
	background: #000
	.img-banner
		box-shadow: 0px 0px 0px 5px #fff
		position: relative
		background-position: center center
		background-image: url(../img/home_panel_3.png)
		background-size: cover
		min-height: 500px
		background-repeat: no-repeat
		transition: .3s all ease-in-out
		.cap
			position: absolute
			bottom: 0%
			transform: translateX(-50%)
			left: 50%
			text-align: center
			//margin-bottom: 4.64rem
			h3
				font-weight: 700
				background: #000
				font-size: 1.5rem
				color: #fff
				padding: .65rem 1rem 1.45rem 1rem
				white-space: nowrap
			p
				font-weight: 700
				font-size: 1rem
				color: #000
				background: #fff000
				display: inline-block
				transform: translateY(-60%)
				padding: .5rem 1rem
		.sale
			position: absolute
			right: 2%
			margin-top: 1rem
			background: #000
			height: 4.5rem
			border-radius: 50%
			width: 4.5rem
			display: flex
			flex-direction: column
			justify-content: center
			text-align: center
			align-items: center
			span
				font-weight: 900
				font-size: 1rem
				color: #fff000
		&:hover,
		&:active
			box-shadow: 0px 0px 0px 5px #fff000
			
	+media-breakpoint-up(md)
		.img-banner
			.cap
				h3 
					font-size: 3.47rem
					white-space: nowrap
				p
					transform: translateY(-40%)
					padding: 1rem 1.5rem
					font-size: 1.3rem
	+media-breakpoint-down(sm)
		.img-banner
			transition: none
			&:hover, &:active
				box-shadow: 0px 0px 0px 5px #fff

.thanhtam-quote
	background: #000
	color: #fff
	figure
		overflow: hidden
		box-shadow: 0px 0px 0px 3px #fff000
		img
			box-shadow: 0px 0px 0px 3px #fff
			width: 100%
			transition: .5s all ease-in-out
			&:hover,
			&:active
				// transform: scale(1.2)
	+media-breakpoint-down(md)
		figure
			height: 100%
			img
				height: 100%
				width: 100%
	.title
		h4
			font-weight: 700
			background: #252525
			box-shadow: 0px 0px 0px 3px #fff000
			font-size: 1.71rem
			position: absolute
			right: 50%
			transform: translate(50%, -50%)
			z-index: 999
			padding: 1rem
			white-space: nowrap
		p
			font-weight: 400
			box-shadow: 0px 0px 0px 3px #fff000
			font-size: 1.71rem
			padding: 4rem 2rem 2rem
			position: relative
			margin-bottom: 0
	+media-breakpoint-down(xs)
		.title
			h3 
				font-size: 1.3rem
			p
				font-size: 1.2rem


.home-slider
	background: #000
	padding-top: 40px
	padding-bottom: 4.29rem


	.owl-carousel
		margin-top: 2.7rem
		figure
			margin: 0
			img
				opacity: 0.5
		.item
			&:hover
				img
					opacity: 1
	.owl-nav
		button
			position: absolute
			top: 50%
			transform: translateY(-50%)
			&.owl-prev
				background: yellow
				left: -1rem	
				border-radius: 1px
				height: 1.79rem
				width: 1.79rem
				.fa
					//padding: .5rem
			&.owl-next
				background: yellow
				right: -1rem
				height: 1.79rem
				width: 1.79rem
			&:hover,
			&:active
				background: #fff

+media-breakpoint-down(sm)
	.home-slider
		padding-bottom: 2rem
		.owl-carousel
			figure
				img
					opacity: 1
		.owl-nav
			padding-top: 2.5rem
			padding-bottom: 0
			text-align: center
			button
				position: relative
				&.owl-next
					margin-left: .25rem
					right: 0
				&.owl-prev
					left: 0
					margin-right: .25rem
				&:hover,
				&:active
					background: yellow
