<!-- ////////////// FOOTER ////////////// -->
footer
	section.home-footer
		.container
			.row
				.col-md-12.col-lg-3
					h3 FULLSTACK VIETNAM
					ul
						li
							p Mobile: (+84) 969689893
						li
							p Email: admin@fullstackvietnam.com
						li
							p Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
				.col-md-12.col-lg-6
					h3 LINKS
					.row
						.col-md-6.col-lg-6
							ul
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
						.col-md-6.col-lg-6
							ul
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
				.col-md-12.col-lg-3
					ul.list-inline.icon
						a(href="#")
							li.list-inline-item
								i.fa.fa-twitter
						a(href="#")
							li.list-inline-item
								i.fa.fa-facebook
	section.home-form
		.container
			.row
				.col-sm-12.col-md-6.col-lg-4.align-self-center
					h4 Copyright 2018 by FullStack Vietnam
				.col-sm-12.col-md-6.col-lg-4
					.form-bot
						form
							.form-group
								input.form-control(rows="2" placeholder="Email của bạn" )
							button
								btn.btn-light
									a(href="#") GỬI
				
